@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	color: #fff;
	text-transform: uppercase;
}
.toggle {
	position: relative;
	width: 60px;
	height: 60px;
	background: url(Media/hamburger.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	cursor: pointer;
}
.toggle.active {
	background: url(Media/big-x.png);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	cursor: pointer;
}
.showcase {
	position: absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #111;
	transition: 0.5s;
	z-index: 2;
}
.showcase.active {
	right: 300px;
}

.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #03a9f4;
	mix-blend-mode: overlay;
}
.text {
	position: relative;
	z-index: 10;
}

.text h2 {
	font-size: 5em;
	font-weight: 800;
	color: #fff;
	line-height: 1em;
	text-transform: uppercase;
}
.text h3 {
	font-size: 4em;
	font-weight: 700;
	color: #fff;
	line-height: 1em;
	text-transform: uppercase;
}
.text p {
	font-size: 1.1em;
	color: #fff;
	margin: 20px 0;
	font-weight: 400;
	max-width: 700px;
	line-height: 2;
}
.text a {
	display: inline-block;
	font-size: 1em;
	background: #fff;
	padding: 10px 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 30px;
	color: #111;
	letter-spacing: 2px;
	transition: 0.2s;
}
.text a:hover {
	letter-spacing: 6px;
}
.social {
	position: absolute;
	z-index: 10;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social li {
	list-style: none;
}
.social li a {
	display: inline-block;
	margin-right: 20px;
	filter: invert(1);
	transform: scale(0.3);
	transition: 0.5s;
}

.social li a:hover {
	transform: scale(0.4) translateY(-15px);
}
.menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu ul {
	position: relative;
}
.menu ul li {
	list-style: none;
}
.menu ul li a {
	text-decoration: none;
	font-size: 24px;
	color: #111;
}
.menu ul li a:hover {
	color: #03a9f4;
}
#works {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
	padding: 8px;
}
.site-column {
	background-color: black;
	display: flex;
	flex-direction: column;
	max-width: min-content;
	justify-content: center;
	opacity: 0.8;
	border-radius: 10px;
	padding-bottom: 10px;
}
.photo-box {
	justify-content: center;
}
.photo-box img {
	transform: scale(1);
	transition: 0.2s;
	z-index: 10;
	opacity: 1;
}
.photo-box img:hover {
	transform: scale(1.05);
}
.link-pic {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	transform: scale(1);
}
.about {
	width: 100%;
	height: 4em;
	text-align: left;
	color: white;
	margin: 7.5px;
	margin-bottom: 5px;
	padding-right: 10px;
	font-size: 0.7em;
}
.code-link {
	align-self: center;
	transform: scale(1);
	transition: 0.2s;
	z-index: 10;
}
.code-link:hover {
	transform: scale(1.05);
}

.code-link img {
	max-width: 1em;
	max-height:1em;
	filter: invert(1);
}
.code-link a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 7em;
	text-decoration: none;
	text-align: center;
	border: solid;
	padding: 0.5em;
	border-width: 0.5px;
	background-color: rgb(15, 14, 14);
	color: white;
	border-radius: 4px;
}
.code-link a h6 {
	font-size: 0.2em;
	font-weight: 400;
	padding-top: 4px;
	padding-left: 10px;
}

@media (max-width: 991px) {
	.showcase,
	.showcase header {
		padding: 40px;
	}
	.text h2 {
		font-size: 3em;
	}
	.text h3 {
		font-size: 2em;
	}
	#works {
		flex-direction: column;
		justify-content: center;
		/*max-width: 10%;*/
	}
	.photo-box a {
		justify-content: center;
	}
	img {
		justify-content: center;
	}
	.about {
		width: 80%;
	}
	.site-column {
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
}
